@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Open Sans', sans-serif;
}

.gradient {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.btn-color {
  /* background-color: #33A0FF; */
  background-color: #131921;
  background-image: linear-gradient(20deg, #131921 0%, #192456 100%);
  color: #fff;
}

.btn-color:hover {
  /* background-color: #1863a5; */
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.sidebar-bg {
  /* background-color: #131921;
  background-image: linear-gradient(178deg, #131921 0%, #412af5 100%); */
  background-color: #131921;
  background-image: linear-gradient(20deg, #131921 0%, #192456 100%);
  /* background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
}

/* pagination */
.pagination {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.page-num {
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 400;
}

.page-num:hover {
  background-color: #33A0FF;
  color: #fff;
}

.pagination .active {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  color: #fff;
}

.page-arrow {
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #33A0FF;
  color: #fff;
}