@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Open Sans', sans-serif;
}

.gradient {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.btn-color {
  background-color: #33A0FF;
}